{% extends "LouvreBilletterieBundle::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block main %}
    <div>
        La page demandée n'existe pas !{#, <a href="{{ path('/') }}">voulez-vous retourner sur la page d'accueil</a> ?#}
    </div>

{% endblock %}

{% block aside %}
{% endblock %}
