{% extends '@LouvreBilletterie/layout.html.twig' %}
{% block content %}
    <section class="row">
        <div>
            <div class="content text-center">
                <div class="jumbotron">
                    La page demandée n'existe pas, voulez-vous <a href="{{ path('/') }}">retourner sur la page d'accueil</a> ?
                </div>
            </div>
        </div>
    </section>
{% endblock %}