body
{
    margin: 0;
    background: url("../images/louvre.jpg") no-repeat;
    /*background-size: 100% auto;*/
    background-size: cover;
}

header, footer, .breadcrumb, .col-sm-3, .well {
    background-color: #555555;
    border: 2px solid black;
    opacity: 0.8;
    color: white;
    border-radius: 5px;
}

.col-sm-4 {
    padding-top: 20px;
}
button {
    color: black;
    float: right;
    margin-left: 5px;
}

legend {
    color : white;
}

label {
    margin-right: 3%;
}

@media (min-width: 768px) {
    .col-sm-8 {
        width: 66.66666667%;
        float: left;
    }
    .well, .col-sm-3 {
        height: 500px;
    }
    .col-sm-9 {
        width: 75%;
    }
}

@media (max-width: 767px) {
    /*section {
        display :flex;
    }*/
    main {
        order: 2;
    }
    aside {
        order: 1;
    }
    .col-sm-3 {
        height: 60px;
    }
    .well {
        height: 500px;
    }
}

header, .breadcrumb, section {
    margin-bottom: 10px;
}


.datepicker table {
    color: white;
}

input, select {
    color: black;
}

table, table th {
    border-color: black;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

#recapCommande, #recapCommande > thead > tr > th {
    text-align : center;
}